.App {
  text-align: center;
}

button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 2rem;
  cursor: pointer;
}
.histSection{
  margin: -2rem;
}
