#App {
  text-align: center;
}

#submit__btn{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 2rem;
  cursor: pointer;
}

#histSection{
  margin: -2rem;
}

#input__text{
  width: 4rem; 
  text-align: center;
  border: 1px solid #e0dede; 
  outline: none; 
}